*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero{
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.hero__picture{
    margin-bottom: 1em;
}

.hero__img{
    display: block;
    width: 90%;
    margin: 0 auto;
}

.hero__par{
    line-height: 1.5;
    font-weight: 300;
    padding: .7em 0;
}

.hero__texts{
    flex-basis: 40%;
}

.hero__cta{
    display: inline-block;
    color: #fff;
    background: chocolate;
    text-decoration: none;
    padding: 15px 20px;
}

@media screen and (min-width:850px){
    .hero{
        flex-direction: row;
        align-items: center;
    }

    .hero__picture{
        flex-grow: 1;
    }

    .hero__img{
        max-width: none;
    }
}